<!-- views/partials/poll.ejs -->
<div id="collapse<%=id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%=id%>">
  <div class="panel-body container row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-5 row">
      <div class="col-xs-12">
        <% if(editable) { %>
          <div class="btn-group pull-right">
            <button class="btn btn-danger btn-delete" data-id="<%=id%>" type="submit"><i class="fa fa-trash"></i> delete</button>
            <button class="btn btn-warning btn-edit" data-id="<%=id%>"><i class="fa fa-pencil"></i> edit</button>
          </div>
        <% } %>
        <h2 class="title"><%= poll.description%></h2>
      </div>
      <div class="col-xs-12 col-sm-offset-2 col-sm-10 row">
        <%
          var v = votes.find(v => username == v.user);
          if(v) { %>
          <p>I voted for ...</p>
        <% } else { %>
          <p>I'd like to vote for ...</p>
        <% } %>
        <div class="col-xs-12">
          <% poll.options.forEach( o => {
            if(v) { %>
            <div class="col-sm-4 col-xs-12">
              <button class="btn btn-disable col-xs-12 col-sm-12 <%= ( v.option == o._id ? 'selected' : '')%>" data-id="<%=o._id%>"><%=o.name%></button>
            </div>
          <% } else {%>
            <div class="col-sm-4 col-xs-12">
              <button class="btn btn-primary btn-vote col-xs-12 col-sm-12" data-id="<%=o._id%>"><%=o.name%></button>
            </div>

          <% }
            }) %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6" id='piechart'>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.0/d3.min.js"></script>
<script>

    $('.btn-vote').on('click', function() {
      var _this =  this
      var url = `/polls/<%=id%>/options/${$(this).data('id')}`;
      $.post(url).then(function(data) {
        console.log('success', data.votes.map(v => v.option));
        $('.btn-vote').addClass('btn-disable').removeClass('btn-primary');
        $(_this).addClass('selected');
        draw(data.votes);
      });
    });

    var options = <%- JSON.stringify(poll.options) %>;

    var width = 480,
      height = 300,
      radius = Math.min(width, height) / 2;

    var svg = d3.select("#piechart").append("svg")
      .attr('width', width)
      .attr('height', height);

    var chartLayer;
    var color = d3.scaleOrdinal(d3.schemeCategory10);

  function draw(votes) {
        console.log('drawing', votes);
        $('.chartLayer').remove();

        var data = d3.nest().key(d => d.option).entries(votes);
        chartLayer = svg.append("g").classed("chartLayer", true)

        var arcs = d3.pie()
             .sort(null)
             .value(function(d) { return d.values.length; })
             (data)


         var arc = d3.arc()
             .outerRadius(height/2)
             .innerRadius(height/4)
             .padAngle(0.03)
             .cornerRadius(8)

         var pieG = chartLayer.selectAll("g")
             .data([data])
             .enter()
             .append("g")
             .attr("transform", "translate("+[width/2, height/2]+")")

         var block = pieG.selectAll(".arc")
             .data(arcs)

         var newBlock = block.enter().append("g").classed("arc", true)


         newBlock.append("path")
             .attr("d", arc)
             .attr("id", function(d, i) { return "arc-" + i })
             .attr("stroke", "gray")
             .attr("fill", function(d,i){ return color(i); })


         newBlock.append("text")
             .attr("dx", 55)
             .attr("dy", height/4 + 15)
             .append("textPath")
             .attr("xlink:href", function(d, i) { return "#arc-" + i; })
             .text(function(d) {return options.find( o => o._id == d.data.key).name;})
  }

  draw(<%- JSON.stringify(votes)%>);
</script>
