<!-- views/home.ejs -->
<!DOCTYPE html>
<html>
	<head>
		<title>FreeCodeCamp Challenge - Voting App</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <style>
    .btn.btn-disable.selected {
      border: solid thin red;
    }
    </style>
	</head>

<body>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div class="container">
        <%- include('partials/navbar') %>
        <div class="jumbotron">
          <h2>FCC - Voting App</h2>
          <p class="lead">Below are polls hosted.<br/>
          Select a poll to see the results and vote, or sign-in to make a new poll.</p>
          <% if(authenticated) {
              var filterMode = polls.every(item => item.owner.id == user.id);
          %>
            <div class="checkbox">
              <a href="/?filter" class="btn <%= (filterMode ? 'btn-disable' : 'btn-primary')%>">only my polls</a>
              <a href="/" class="btn <%= (filterMode ? 'btn-success' : 'btn-disable')%>">all polls</a>
            </div>
          <%}%>
          <p>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-group" role="tablist" id="accordion" aria-multiselectable="false">
                  <% if(authenticated) { %>
                    <div class="panel panel-success">
                      <div class="panel-heading" role="tab" id="headingnew">
                        <div class="panel-title">
                          <h4 role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsenew" aria-expanded="true" aria-controls="collapsenew">
                            <i class="fa fa-plus-circle"></i> NEW
                          </h4>
                        </div>
                      </div>
                        <%- include('partials/new', {id: 'new', poll: {description: '', options: []}, editable: true}); %>
                    </div>
                  <% } %>
                  <!-- loop over blog posts and render them -->
                  <% polls.forEach( item => { %>
                     <div class="panel panel-default">
                       <div class="panel-heading" role="tab" id="heading<%= item._id%>">
                        <div class="panel-title">
                          <h4 role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= item._id%>" aria-expanded="true" aria-controls="collapse<%= item._id%>">
                            <%= item.poll.description %>
                          </h4>
                        </div>
                      </div>
                      <%- include('partials/poll', {
                        id: item._id,
                        poll: item.poll,
                        votes: item.votes,
                        username: (authenticated ? user.username : ip),
                        editable: (authenticated && item.owner.username == user.username)
                      }); %>
                    </div>
                  <% }) %>
                </div>
            </div>
        </div>
        <%- include('partials/footer') %>
    </div>

    <script>
      $(function(){
        $('.btn-delete').on('click', function(event) {
          var id = $(this).data('id');
          console.log('delete', id);
          $.ajax({
            url: `/polls/${id}`,
            method: 'DELETE'
          }).done(function(data) {
            console.log('deletion done', data);
            window.location.reload();
          }).fail(function(err) {
            console.error(err);
          })
        });

        $(".checkbox input[type='checkbox']").change(function(evt) {
          if(this.checked) {
            window.location.href = window.location.href + "?filter";
          } else {
            window.location.href = window.location.href.replace(/\?filter(=.*)?/, '') ;
          }
        });

      });
    </script>
</body>
